src/main/resources/liquibase/ext/utils/xml/liquibase-utils.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://www.liquibase.org/xml/ns/dbchangelog-ext/liquibase-utils"
  targetNamespace="http://www.liquibase.org/xml/ns/dbchangelog-ext/liquibase-utils"
  elementFormDefault="qualified">

  <xsd:element name="contextDefined"/>

  <xsd:element name="contextMatch">
    <xsd:complexType>
      <xsd:attribute name="expression" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
